.titleRoedMap{
  font-size: 50px;
  text-align: left;
}


.roadMapMainSection{
  display: flex;
  flex-direction: row;
  /* margin-top: 2rem; */
  font-size: 20px;
  padding: 4vw;
  background-color: black;
 
}

.textRoadMap{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10vw;
}

