.mainSection1{
  background-color: black;
}

.imgAndText{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textH1{
  font-size: 6rem;
  font-weight: bold;
}

.textH2{
  font-size: 4rem;
  font-weight: bold;
}

@media (orientation: portrait) {
  .imgAndText{
    display: flex;
    flex-direction: column;
  }
  .imgSection1{
    width: 100%;
  }
  .textH1 , .textH2{
    font-size: 2.5rem;

  }

}