.Teams{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
}

.Teamsimg{
  display: flex;
  gap: 2rem;
}

img >.sb-avatar sb-avatar--src{
 height: 230px;
 width: 200px;
 
}

.sectionMainTeam{
  /* margin-top: 2rem; */
  background-color: black;
}

.titleTeam{
  font-size: 48px;
  font-weight: 300;
  margin-left: 50px;
}

.text-second{
  text-align: center;
  padding: 7rem;
  font-size: 2rem;
  color: rgb(59 130 246/0.5);
}